{{> header title='Made Publishers - Home' cssName='main'}}

<div id="main-container">
	<div id="main-img-layer">
		<img id="main-img" src="img/main.jpg">
		<div id="main-img-text">
			<ul>
				<li>Nourished Journal</li>
				<li>Edition Four, Shipping Worldwide</li>
			</ul>
		</div>
	</div>

	<div class="item-container">
		<div class="heading">
			Recently Published
			<i class="fa fa-long-arrow-right"></i>
		</div>
		<div class="item-box-layer">

		</div>
	</div>
	<div class="item-container">
		<div class="heading">
			Recently Posted
			<i class="fa fa-long-arrow-right"></i>
		</div>
		<div class="item-box-layer01">

		</div>
	</div>
</div>

{{> footer jsName='main'}}






















