{{> header title='Made Publishers - Home' cssName='main'}}

<div id="main-container">
	<div id="main-img-layer">
		<img id="main-img" src="img/main.jpg">
		<div id="main-img-text">
			<ul>
				<li>Nourished Journal</li>
				<li>Edition Four, Shipping Worldwide</li>
			</ul>
		</div>
	</div>

	<div class="item-container">
		<div class="heading">
			Recently Published
			<i class="fa fa-long-arrow-right"></i>
		</div>
		<div class="item-box-layer">
			<div class="item-box" style="cursor: pointer;" onclick="location.href='products.html';">
				<img class="item-img" src="img/no1.jpg">
				<ul>
					<li class="item-name">Nourished Journal Four</li>
					<li>Single Edition</li>
					<li>$25.00 USD</li>
				</ul>
			</div>
			<div class="item-box">
					<img class="item-img" src="img/no2.jpg">
				<ul>
					<li class="item-name">Nourished Journal Three</li>
					<li>Single Edition</li>
					<li>$25.00 USD</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/no3.jpg">
				<ul>
					<li class="item-name">Nourished Journal One & Three</li>
					<li>Single Edition</li>
					<li>$45.00 USD</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="item-container">
		<div class="heading">
			Recently Posted
			<i class="fa fa-long-arrow-right"></i>
		</div>
		<div class="item-box-layer">
			<div class="item-box">
				<img class="item-img" src="img/no4.jpg">
				<ul>
					<li class="item-name">Pre Order: Nourished Journal Four</li>
					<li>November, 7th 2016</li>
					<li>$25.00 USD</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/no5.jpg">
				<ul>
					<li class="item-name">Nourished Journal Four</li>
					<li>Single Edition</li>
					<li>$25.00 USD</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/no6.jpg">
				<ul>
					<li class="item-name">Nourished Journal Four</li>
					<li>Single Edition</li>
					<li>$25.00 USD</li>
				</ul>
			</div>
		</div>
	</div>
</div>

{{> footer jsName='main'}}






















