{{> header title='Journal' cssName='journal'}}

<div id="main-container">
	<div class="item-container">
		<div class="item-box-layer">
			<div class="item-box" style="cursor: pointer;" onclick="location.href='journal-list.html';">
				<img class="item-img" src="img/journal/j1.jpg">
				<ul>
					<li class="item-name">Pre Order: Nourished Journal Four</li>
					<li>Posted: November 7, 2016 </li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/journal/j2.jpg">
				<ul>
					<li class="item-name">Nourished Journal Three</li>
					<li>Posted: November 2, 2015 </li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/journal/j3.jpg">
				<ul>
					<li class="item-name">New MADE Publishers Stockists</li>
					<li>Posted: June 24, 2015 </li>
				</ul>
			</div>
		</div>
		<div class="item-box-layer">
			<div class="item-box">
				<img class="item-img" src="img/journal/j4.jpg">
				<ul>
					<li class="item-name">MADE Edition Four is here!</li>
					<li>Posted: May 12, 2015  by: Thomas</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/journal/j5.jpg">
				<ul>
					<li class="item-name">Pre-Order: MADE Edition Four</li>
					<li>Posted: April 28, 2015 </li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/journal/j6.jpg">
				<ul>
					<li class="item-name">Nourished Journal Edition Two</li>
					<li>Posted: December 9, 2014 </li>
				</ul>
			</div>
		</div>
		<div class="item-box-layer">
			<div class="item-box">
				<img class="item-img" src="img/journal/j7.jpg">
				<ul>
					<li class="item-name">House by Minimalux </li>
					<li>Posted: October 20, 2014  by: Thomas</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/journal/j8.jpg">
				<ul>
					<li class="item-name">Interview: Mark Gowing</li>
					<li>Posted: September 10, 2014  by: Thomas</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/journal/j9.jpg">
				<ul>
					<li class="item-name">Nourished Journal One</li>
					<li>Posted: August 4, 2014 </li>
				</ul>
			</div>
		</div>
		<div class="item-box-layer">
			<div class="item-box">
				<img class="item-img" src="img/journal/j10.jpg">
				<ul>
					<li class="item-name">Interview: Sawdust</li>
					<li>July 22nd 2014</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/journal/j11.jpg">
				<ul>
					<li class="item-name">Process Journal: Call for Submissions</li>
					<li>June 17th 2014</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/journal/j12.jpg">
				<ul>
					<li class="item-name">Interview: Jessica Walsh</li>
					<li>May 30th 2014</li>
				</ul>
			</div>
		</div>
		<div class="item-box-layer">
			<div class="item-box">
				<img class="item-img" src="img/journal/j13.jpg">
				<ul>
					<li class="item-name">Creative Mornings: Thomas Williams</li>
					<li>May 27th 2014 by: Thomas</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/journal/j14.jpg">
				<ul>
					<li class="item-name">Introducing Nourished Journal</li>
					<li>May 13th 2014 by: Thomas</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/journal/j15.jpg">
				<ul>
					<li class="item-name">Semi-Permanent x Made</li>
					<li>May 6th 2014 by: Thomas</li>
				</ul>
			</div>
		</div>
		<div class="item-box-layer">
			<div class="item-box">
				<img class="item-img" src="img/journal/j16.jpg">
				<ul>
					<li class="item-name">Process Journal: Edition 10</li>
					<li>April 30th 2014 by: Thomas</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/journal/j17.jpg">
				<ul>
					<li class="item-name">Introducing Made Publishers</li>
					<li>April 30th 2014 by: Thomas</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/journal/j18.jpg">
				<ul>
					<li class="item-name">Process Ten: Commercial Type</li>
					<li>April 29th 2014</li>
				</ul>
			</div>
		</div>
		<div class="item-box-layer">
			<div class="item-box">
				<img class="item-img" src="img/journal/j19.jpg">
				<ul>
					<li class="item-name">Process Ten: 2x4</li>
					<li>April 29th 2014</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/journal/j20.jpg">
				<ul>
					<li class="item-name">Process Ten: Triboro</li>
					<li>April 29th 2014</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/journal/j21.jpg">
				<ul>
					<li class="item-name">Process Ten: RoAndCo</li>
					<li>April 29th 2014</li>
				</ul>
			</div>
		</div>
		<div class="item-box-layer">
			<div class="item-box">
				<img class="item-img" src="img/journal/j22.jpg">
				<ul>
					<li class="item-name">Process Ten: Pentagram</li>
					<li>April 29th 2014</li>
				</ul>
			</div>
		</div>
	</div>
</div>

{{> footer jsName='journal'}}
