{{> header title='Made Publishers - Home' cssName='products'}}

<div id="main-container">
	<div class="products-layer">
		<div class="cycle-slideshow">
			<img class="product-img" src="img/slide/s1.jpg">
			<img class="product-img" src="img/slide/s2.jpg">
			<img class="product-img" src="img/slide/s3.jpg">
			<img class="product-img" src="img/slide/s4.jpg">
			<img class="product-img" src="img/slide/s5.jpg">
			<img class="product-img" src="img/slide/s6.jpg">
			<img class="product-img" src="img/slide/s7.jpg">
			<img class="product-img" src="img/slide/s8.jpg">
			<img class="product-img" src="img/slide/s9.jpg">
			<img class="product-img" src="img/slide/s10.jpg">
			<img class="product-img" src="img/slide/s11.jpg">
		</div>
		<div class="products-info">
			<!--<div id="info-text">
				<ul>
					<li>Nourished Journal One</li>
					<li>Single Edition</li>
					<li>
						<p>We are proud to announce the release of Nourished Journal Edition Four.</p>

						<p>Some features include April Gargiulo from Vintner’s Daughter, Lacy Philips from Free + Native shares her manifestation practice, Jacqui Lewis from The Broad Place talks travel, recipe for a warming turmeric bread from Sweet Laurel, a beginners guide to Ayurveda, Zen & Bunni from Zenbunni, understanding your dreams, Kari Jansen from Poppy and Someday, the importance of getting grounded and we visit the iconic Californian retreat Esalen.</p>

						<p>Nourished Journal is a bi-annual lifestyle publication. The aim of the Journal is not only to create an inspiring publication, but also to be a platform for readers and contributors alike to share, learn and connect. Featuring interviews with inspiring individuals, uplifting and informative editorial, recipes, travel stories and practical information on health and wellbeing. We believe in taking a holistic view on life, which you will see reflected throughout the journal.</p>

						<br><p>Product Notes<br>
						Free shipping worldwide from Berlin, Germany.<p>
					</li>
				</ul>
				<div>
					<div id="USD">$ 25.00 USD</div>
					<div id="qtt">Quantity</div>
					<input id="product-qtt-btn" type="text" value="1">
					<input id="product-cartin-btn"type="submit" value="Add To Cart">
				</div>
			</div>-->
		</div>
	</div>
	<div class="item-container">
		<div class="heading">
			Related Products
			<i class="fa fa-long-arrow-right"></i>
		</div>
		<div class="item-box-layer">
			<div class="item-box">
				<img class="item-img" src="img/no1.jpg">
				<ul>
					<li class="item-name">Nourished Journal Four</li>
					<li>Single Edition</li>
					<li>$25.00 USD</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/no2.jpg">
				<ul>
					<li class="item-name">Nourished Journal Three</li>
					<li>Single Edition</li>
					<li>$25.00 USD</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/no3.jpg">
				<ul>
					<li class="item-name">Nourished Journal One & Three</li>
					<li>Single Edition</li>
					<li>$45.00 USD</li>
				</ul>
			</div>
		</div>
	</div>
</div>

{{> footer jsName='products'}}
