{{> header title='Made Publishers - Home' cssName='public-list'}}


<!--<div id="main-container">
	<div class="public-layer">
		<div class="public-img-layer">
			<img class="public-img" src="img/publications/p2.jpg">
		</div>
		<div class="public-info">
			<div id="public-info-text">
				<ul>
					<li>Process Journal
						Edition Ten</li>
					<li>Taking on our newly revised format, Edition Ten is our first City Profile, focusing on the Empire City itself, New York. Edition 10 Features: 2x4, Triboro, RoAndCo, Commercial Type, Pentagram and Jeffrey Ludlow, with bespoke cover typography by Triboro. Available as both a standard and limited edition (featuring a black cover foil stamping).</li>
				</ul>
				<div>
					<button id="purchase-btn" type="button" onclick="location.href='store.html' ">Purchase</button>
				</div>
			</div>
		</div>
	</div>

	<div class="item-container">
		<div class="item-box-layer">
			<div class="item-box">
				<img class="item-img" src="img/public-list/p1.jpg">
				<ul>
					<li class="item-name">2x4</li>
					<li>Founded in 1994 by Michael Rock, Susan Sellers and Georgianna Stout, 2x4 is a global design consultancy headquartered in New York City with satellite studios in Beijing and Madrid. The focus of our work is brand strategy for cultural and commercial clients who value the power of design. We identify and clarify core institutional values and create innovative, experiential, participatory and visually-dynamic ways to engage key audiences worldwide. Our intellectual and creative conviction is that thoughtful design can make an essential contribution to every level of cultural discourse.</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/public-list/p2.jpg">
				<ul>
					<li class="item-name">Triboro</li>
					<li>Triboro is the husband-and-wife team of David Heasty and Stefanie Weigler. Triboro creates design solutions for clients in publishing, art, fashion, music, lifestyle, and for cultural institutions. The studio excels both in building inspiring brands from the ground up and in shepherding established brands into new territories. Triboro’s partners have won numerous industry awards and their work has been featured in publications and exhibitions around the world.</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/public-list/p3.jpg">
				<ul>
					<li class="item-name">RoAndCo</li>
					<li>Roanne opened her design studio in 2006 after being awarded New Visual Artist (20 under 30) by Print magazine. With a keen eye for style and a skill for refining brands into their most succinct form, Roanne is trusted and respected by clients and collaborators alike. In 2010, New York Times Magazine named her one of ‘New York City’s outstanding up and coming design professionals’. In 2011 she was among the select winners for ADC Young Guns 9, and most recently, Roanne was a jury member for the 91st annual ADC Awards.</li>
				</ul>
			</div>
		</div>
		<div class="item-box-layer">
			<div class="item-box">
				<img class="item-img" src="img/public-list/p4.jpg">
				<ul>
					<li class="item-name">Commercial Type</li>
					<li>Commercial Type is a joint venture between Paul Barnes and Christian Schwartz, who have collaborated since 2004 on various typeface projects, most notably the award-winning Guardian Egyptian. The company publishes retail fonts developed by Barnes and Schwartz, their staff, and outside collaborators, and also represents the two when they work together on type-design projects.  Following the redesign of The Guardian, the team headed by Mark Porter, including Barnes and Schwartz, was awarded the coveted Black Pencil by D&AD. The team was also nominated for the Design Museum’s Designer of the Year prize.</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/public-list/p5.jpg">
				<ul>
					<li class="item-name">Pentagram (New York)</li>
					<li>Pentagram is the world's largest independent design consultancy. The firm is owned and run by 19 partners, a group of friends who are all leaders in their individual creative fields. With offices in London, New York, San Francisco, Berlin and Austin. Pentagram operates in the fields of: architecture, interiors, products, identities, publications, posters, books, exhibitions, websites, and digital installations.

						Edition 10 focuses on Pentagram’s New York Office, speaking with partners Natasha Jen and Eddie Opara.</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/public-list/p6.jpg">
				<ul>
					<li class="item-name">Jeffrey Ludlow</li>
					<li>Jeffrey Ludlow is the Principal/Creative Director of the 2x4 Madrid office. He previously led the New York architecture team in projects ranging from events and exhibitions to signage and retail, for the following clients: Nike, Herzog & de Meuron, Kanye West, MoMA, Prada, DFI. He also headed up a site office in Beijing where he was in charge of the information/wayfinding master plan for the new CCTV headquarters, with OMA/Rem Koolhaas. Prior to joining 2x4, he worked in architecture studios in the USA, Europe and China, including OMA-Rotterdam and Mada s.p.a.m. Shanghai, as well has heading up a graphics department in Aedas, Hong Kong, with projects in the Middle East and Asia.</li>
				</ul>
			</div>
		</div>
	</div>
</div>-->

{{> footer jsName='public-list'}}
