{{> header title='Publications' cssName='publications'}}

<div id="main-container">
	<div class="item-container">
		<div class="item-box-layer">
			<div class="item-box">
				<img class="item-img" src="img/publications/p1.jpg">
				<ul>
					<li class="item-name">Process Journal Nine</li>
					<li>The ninth Edition of Process Journal, a quarterly released graphic design publication. Focusing on the theme of 'Less is More', Edition Nine features: Manual (US), Build (UK), Bedow (SE) and Mark Gowing Design (AU), in addition to essays by Rob Duncan (US) and Paul Blackburn (UK). Edition Nine also features a bespoke cover illustration by Build.</li>
				</ul>
			</div>
			<div class="item-box" style="cursor: pointer;" onclick="location.href='public-list.html';">
				<img class="item-img" src="img/publications/p2.jpg">
				<ul>
					<li class="item-name">MADE Quarterly Two</li>
					<li>Documenting the workings of the modern maker, the second edition of MADE Quarterly Features: Mast Brothers (US), Best Made Co (US), Huet Brothers (NL), Stevie Gee (UK), Earth Tu Face (US), March Studio (AU), Uniform Wares (UK), Henry Wilson (AU), Ben Huff (US) and Minimalux (GB). MADE Edition Two also features four individual covers, each displaying chosen works from our esteemed contributors.</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/publications/p3.jpg">
				<ul>
					<li class="item-name">Process Journal Eight</li>
					<li>The eighth Edition of Process Journal, a quarterly released graphic design publication. Edition Eight features: A Practice for Everyday Life (UK), Hey! (ES), North (UK), Sons & Co (NZ), Jarek Kowalczyk (PL), Klim (NZ), Outcast Editions (UK), Accept & Proceed (UK), Smörgåsbord, Bibliothèque (UK), Studio Lin (US), Hofstede Design (AU) and essays by Rob Duncan & Brad Haylock. Edition Eight also features a bespoke cover illustration by Hey!. </li>
				</ul>
			</div>
		</div>
		<div class="item-box-layer">
			<div class="item-box">
				<img class="item-img" src="img/publications/p4.jpg">
				<ul>
					<li class="item-name">MADE Quarterly One</li>
					<li>Documenting the workings of the modern maker, the first edition of MADE Quarterly Features: Nendo (JP), Aulik Fiser Architects (CZ), Dinosaur Designs (AU), Feit (AU), Alt Group (NZ), Form Us With Love (SE), Wrenchmonkees (DK), Katie Quinn Davies (AU), Patterns From Above (US), and Noe Duchaufour-Lawrance (FR). The first edition of MADE Quarterly features four individual covers, each displaying chosen works from our esteemed contributors.</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/publications/p5.jpg">
				<ul>
					<li class="item-name">Process Journal Seven</li>
					<li>The seventh Edition of Process Journal, a quarterly released graphic design publication. Edition Seven features: Heydays (NO), Lars Müller Publishers (UK), Studio Dumbar (UK), Projects of Imagination (AU), Lundgren+Lindqvist (SE), Colophon (UK), Six (UK), The Hungry Workshop (AU), ManvsMachine (UK), This is Real Art (UK), Semi-Permanent (AU), MadeThought (UK) and with a conversation between Rob Duncan and Clinton Duncan.</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/publications/p6.jpg">
				<ul>
					<li class="item-name">Process Journal Six</li>
					<li>The sixth Edition of Process Journal, a quarterly released graphic design publication. Edition Six features: Sea Design (UK), Unit Editions (UK), Wieden+Kennedy (US), NB Studio (UK), Ultra Studio (AU), DesignStudio (UK), Underware (NL), BVD (SE), Kobi Benezri Studio (UK), Daniel Freytag  (UK), Dowling Duncan (US) and with essays from Dellano Pereira and Clinton Duncan.</li>
				</ul>
			</div>
		</div>
		<div class="item-box-layer">
			<div class="item-box">
				<img class="item-img" src="img/publications/p7.jpg">
				<ul>
					<li class="item-name">Process Journal Five</li>
					<li>The fifth Edition of Process Journal, a quarterly released graphic design publication. Edition Five features: Christopher Doyle (AU), Thomas Williams (AU), Farrow (UK), Aesop (AU), Winkreative (UK), Moving Brands (UK), Brogen Averill (NZ), Holt Design (AU), Gavillet & Rust (CH), HORT (UK), The International Office (NZ), L2M3 (DE), Xavier Encinas (FR) and Research & Development (SE).</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/publications/p8.jpg">
				<ul>
					<li class="item-name">Process Journal 4.5</li>
					<li>A special edition of Process Journal, printed on large format newsprint. Edition 4.5 features: Essay and Conversation with Radim Peško by Brad Haylock, Type specimens of Replica (Norm), Theinhardt (François Rappo) Tiempos (Klim Type Foundry), and Graphik (Christian Schwartz) as well as responses from Brett Phillips (3 Deep Design), Michael C. Place (Build), Mason Wells (Bibliothèque), Tom Crabtree (Manual), Tony Brook (Spin) and more.</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/publications/p9.jpg">
				<ul>
					<li class="item-name">Process Journal Four</li>
					<li>The fourth Edition of Process Journal, a quarterly released graphic design publication. Edition Four features: Browns Design (UK), Christopher Doyle (AU), Toko (AU), Give Up Art (UK), Nice Device (AU), KentLyons (UK), Christian Schwartz (US), Build (UK), Design Project (UK), Tonatiuh Ambrosetti (CH), Inhouse (NZ), Tom Munckton (UK), Marque (UK). As well as design responses from Clinton Duncan and Kate Nielsen.</li>
				</ul>
			</div>
		</div>
		<div class="item-box-layer">
			<div class="item-box">
				<img class="item-img" src="img/publications/p10.jpg">
				<ul>
					<li class="item-name">Process Journal Three</li>
					<li>The third Edition of Process Journal, a quarterly released graphic design publication. Edition Three features: 2br (UK), Bibliotheque (UK), Fabio Ongarato Design (AU), Studio Newwork (US), Andrew Zuckerman (UK), MadeThought (UK), Klim Type Foundry (NZ), StudioKanna (JP), North (UK), Stockholm Design Lab (SE), Büro North (AU), Felix Lobelius (AU) and Studio Makgill (UK). As well as design responses from Tom Crabtree (Manual) and Warren Taylor (The Narrows).</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/publications/p11.jpg">
				<ul>
					<li class="item-name">Process Journal Two</li>
					<li>The second Edition of Process Journal, a quarterly released graphic design publication. Edition Two features: Alt Group (NZ), It’s Nice That (UK), Studio Round (AU), Manual (US), Three60 (AU), François Rappo (CH), Greg White (UK), Modern Publicity (UK), Artiva Design (IT), Andreas Pihlström (SE), Frost* Design (AU), Claudia Klat (UK) and Gavillet & Rust (CH). As well as design responses from Samuel Moffat (Studio Paradise) and Kris Lane (Alt Group).</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/publications/p12.jpg">
				<ul>
					<li class="item-name">Process Journal One</li>
					<li>The first Edition of Process Journal, a quarterly released graphic design publication. Edition One features: Re-public (DE), 3 Deep Design (AU), Unit Editions (UK), Heydays (NO), Norm (CH), Hofstede (AU), Spin (UK), Kim Høltermand (DK), Mainstudio (UK), South South West (AU), Kleber (UK), Tim George (UK) and Cartlidge Levene (UK). As well as design responses from Dominic Hofstede (Hofstede Design) and Matt Judge (Design Assembly).</li>
				</ul>
			</div>
		</div>
		<div class="item-box-layer">
			<div class="item-box">
				<img class="item-img" src="img/publications/p13.jpg">
				<ul>
					<li class="item-name">Process Journal Five</li>
					<li>The fifth Edition of Process Journal, a quarterly released graphic design publication. Edition Five features: Christopher Doyle (AU), Thomas Williams (AU), Farrow (UK), Aesop (AU), Winkreative (UK), Moving Brands (UK), Brogen Averill (NZ), Holt Design (AU), Gavillet & Rust (CH), HORT (UK), The International Office (NZ), L2M3 (DE), Xavier Encinas (FR) and Research & Development (SE).</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/publications/p14.jpg">
				<ul>
					<li class="item-name">Process Journal 4.5</li>
					<li>A special edition of Process Journal, printed on large format newsprint. Edition 4.5 features: Essay and Conversation with Radim Peško by Brad Haylock, Type specimens of Replica (Norm), Theinhardt (François Rappo) Tiempos (Klim Type Foundry), and Graphik (Christian Schwartz) as well as responses from Brett Phillips (3 Deep Design), Michael C. Place (Build), Mason Wells (Bibliothèque), Tom Crabtree (Manual), Tony Brook (Spin) and more.</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/publications/p15.jpg">
				<ul>
					<li class="item-name">Process Journal Four</li>
					<li>The fourth Edition of Process Journal, a quarterly released graphic design publication. Edition Four features: Browns Design (UK), Christopher Doyle (AU), Toko (AU), Give Up Art (UK), Nice Device (AU), KentLyons (UK), Christian Schwartz (US), Build (UK), Design Project (UK), Tonatiuh Ambrosetti (CH), Inhouse (NZ), Tom Munckton (UK), Marque (UK). As well as design responses from Clinton Duncan and Kate Nielsen.</li>
				</ul>
			</div>
		</div>
	</div>
</div>

{{> footer jsName='publications'}}
