{{> header title='Store' cssName='store'}}

<div id="main-container">
	<div class="item-container">
		<div id="store-catagory">
			<ul>
				<li>Category:&nbsp;</li>
				<li>All,&nbsp;</li>
				<li>Perodicals,&nbsp;</li>
				<li>Digital Publications</li>
			</ul>

		</div>
		<div class="item-box-layer">
			<div class="item-box" style="cursor: pointer;" onclick="location.href='products.html';">
				<img class="item-img" src="img/store/s1.jpg">
				<ul>
					<li class="item-name">Nourished Journal Four</li>
					<li>Single Edition</li>
					<li>$25.00 USD</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/store/s2.jpg">
				<ul>
					<li class="item-name">Nourished Journal Three</li>
					<li>Single Edition</li>
					<li>$25.00 USD</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/store/s3.jpg">
				<ul>
					<li class="item-name">Nourished Journal One & Three</li>
					<li>Single Edition</li>
					<li>$45.00 USD</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="item-container">
		<div class="item-box-layer">
			<div class="item-box">
				<img class="item-img" src="img/store/s4.jpg">
				<ul>
					<li class="item-name">MADE Quarterly Two</li>
					<li>Single Edition</li>
					<li>$25.00 USD</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/store/s5.jpg">
				<ul>
					<li class="item-name">Nourished Journal One</li>
					<li>Single Edition</li>
					<li>$25.00 USD</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/store/s6.jpg">
				<ul>
					<li class="item-name">Nourished Journal One & Three</li>
					<li>Single Edition</li>
					<li>$45.00 USD</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="item-container">
		<div class="item-box-layer">
			<div class="item-box">
				<img class="item-img" src="img/store/s7.jpg">
				<ul>
					<li class="item-name">Nourished Journal Two & Three</li>
					<li>Single Edition</li>
					<li>$45.00 USD</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/store/s8.jpg">
				<ul>
					<li class="item-name">Nourished Journal One, Two & Three</li>
					<li>Single Edition</li>
					<li>$65.00 USD</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/store/s9.jpg">
				<ul>
					<li class="item-name">MADE Quarterly Four</li>
					<li>Single Edition</li>
					<li>$25.00 USD</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="item-container">
		<div class="item-box-layer">
			<div class="item-box">
				<img class="item-img" src="img/store/s10.jpg">
				<ul>
					<li class="item-name">MADE Quarterly Bundle</li>
					<li>Two Edition</li>
					<li>$45.00 USD</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/store/s11.jpg">
				<ul>
					<li class="item-name">MADE / Nourished Bundle</li>
					<li>Two Edition</li>
					<li>$45.00 USD</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/store/s12.jpg">
				<ul>
					<li class="item-name">Process Journal Ten</li>
					<li>Digital Edition</li>
					<li>$9.99 USD</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="item-container">
		<div class="item-box-layer">
			<div class="item-box">
				<img class="item-img" src="img/store/s13.jpg">
				<ul>
					<li class="item-name">Process / MADE Bundle </li>
					<li>Two Edition</li>
					<li>$45.00 USD</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/store/s14.jpg">
				<ul>
					<li class="item-name">Nourished Journal Two</li>
					<li>Single Edition</li>
					<li>$25.00 USD</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/store/s15.jpg">
				<ul>
					<li class="item-name">Nourished Journal One & Two</li>
					<li>Two Edition</li>
					<li>$45.00 USD</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="item-container">
		<div class="item-box-layer">
			<div class="item-box">
				<img class="item-img" src="img/store/s16.jpg">
				<ul>
					<li class="item-name">Nourished Journal One</li>
					<li>Digital Edition</li>
					<li>$11.99 USD</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/store/s17.jpg">
				<ul>
					<li class="item-name">Process Journal Ten</li>
					<li>Single Edition</li>
					<li>$25.00 USD</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/store/s18.jpg">
				<ul>
					<li class="item-name">Process Journal Ten</li>
					<li>Limited Single Edition</li>
					<li>$45.00 USD</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="item-container">
		<div class="item-box-layer">
			<div class="item-box">
				<img class="item-img" src="img/store/s19.jpg">
				<ul>
					<li class="item-name">Process Journal Bundle</li>
					<li>Two Editions</li>
					<li>$45.00 USD</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/store/s20.jpg">
				<ul>
					<li class="item-name">MADE Quarterly Three</li>
					<li>Single Edition</li>
					<li>$25.00 USD</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/store/s21.jpg">
				<ul>
					<li class="item-name">Process Journal Nine</li>
					<li>Digital Edition</li>
					<li>$9.99 USD</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="item-container">
		<div class="item-box-layer">
			<div class="item-box">
				<img class="item-img" src="img/store/s22.jpg">
				<ul>
					<li class="item-name">MADE Quarterly One</li>
					<li>Single Edition</li>
					<li>$25.00 USD</li>
				</ul>
			</div>
			<div class="item-box">
				<img class="item-img" src="img/store/s23.jpg">
				<ul>
					<li class="item-name">Process Journal Eight</li>
					<li>Single Edition</li>
					<li>$25.00 USD</li>
				</ul>
			</div>
		</div>
	</div>
</div>

{{> footer jsName='store'}}
