{{> header title='Store' cssName='store'}}

<div id="main-container">
	<div class="item-container">
		<div id="store-catagory">
			<ul>
				<li>Category:&nbsp;</li>
				<li class="all">All,&nbsp;</li>
				<li class="pero">Perodicals,&nbsp;</li>
				<li class="digital">Digital Publications</li>
			</ul>

		</div>
		<div class="item-box-layer">

		</div>
	</div>
</div>

{{> footer jsName='store'}}
