<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>Title</title>

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="stylesheet" href="plugins/normalize/normalize.css">
	<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="plugins/modernizr/modernizr-2.8.3.min.js"></script>
</head>
<body>

Hello Pkjs!

<script src="plugins/requirejs/require.min.js"></script>
<script src="js/require.config.js"></script>
<script src="js/main.js"></script>
</body>
</html>
