<footer>
	<div id="footer-layer">
		<div class="footer-text">
			<ul>
				<li>Made Publishers</li>
				<li>Publisher of design and culture,<br>
					Melbourne and New York.<p></li>
			</ul>
			<ul>
				<li>Follow</li>
				<li>Twitter<br>
					Instagram</li>
			</ul>
		</div>
		<div class="footer-text">
			<ul>
				<li>General Enquiries</li>
				<li>post@madepublishers.com<p></li>
			</ul>
			<ul>
				<li>Advertising</li>
				<li>advertise@madepublishers.com<p></li>
			</ul>
			<ul>
				<li>Submissions</li>
				<li>submissions@madepublishers.com</li>
			</ul>
		</div>
		<div class="footer-text">
			<ul>
				<li>Site Credits</li>
				<li>Designed by Made Publishers<br>
					Development by Zann<br>
					Fonts: Maison Neue Family<br>
					Hosting: Media Temple‎<br><br>

					Terms & Conditions<br>
					Privacy Policy</li>
			</ul>
		</div>
	</div>
</footer>


<script src="plugins/requirejs/require.min.js"></script>
<script src="js/require.config.js"></script>
<script src="js/{{jsName}}.js"></script>
</html>
