<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>{{title}}</title>

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="stylesheet" href="plugins/normalize/normalize.css">
	<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/{{cssName}}.css">
	<script src="plugins/modernizr/modernizr-2.8.3.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="http://malsup.github.com/jquery.cycle2.js"></script>

	<style type="text/css">
		a:link {text-decoration: none; color: black;}
		a:visited {text-decoration: none; color: black;}
		a:active {text-decoration: underline; color: black;}
		a:hover {text-decoration: underline; color: black;}
	</style>
</head>

<body>


<div id="icon-bar-nav">
	<ul>
		<li><a href="store.html">Store</a></li>
		<li><a href="journal.html">Journal</a></li>
		<li><a href="publications.html">Publications</a></li>
		<li><a href="about.html">About Us</a></li>
		<li class="follow">Follow Us</li>
		<li><a href="cart.html">Shopping Cart (1)</a></li>
		<li class="login">Login</li>
	</ul>
</div>



<div class="popup-layer">
	<div id="popup-box">
		<div id="follow-text">
			<ul>
				<li>Follow Us</li>
				<li>Want to be kept up to date and be the first to notified about new publications?
					We welcome conversation with our readers and would love to hear from you.</li>
			</ul>
		</div>
		<div class="popup-exit"><i class="fa fa-times" aria-hidden="true"></i></div>
		<div id="follow-link-container">
			<div class="follow-link">
				<i class="fa fa-twitter"></i><br>Twitter
			</div>
			<div class="follow-link">
				<i class="fa fa-instagram"></i><br>Instagram
			</div>
			<div class="follow-link">
				<i class="fa fa-rss"></i><br>Rss Feed
			</div>
			<div class="follow-link">
				<i class="fa fa-inbox"></i><br>Email Updates
			</div>
		</div>
	</div>
</div>




<div class="login-layer">
	<div id="login-box">
		<div id="login-text">
			<ul>
				<li>Login</li>
				<li>Welcome back. If you already have an account with us, please login below.</li>
			</ul>
		</div>
		<div class="login-exit"><i class="fa fa-times" aria-hidden="true"></i></div>
		<div id="login-btn-container">
			<input id="id-btn" type="text" value="Email Address">
			<input id="password-btn" type="text" value="Password">
			<label><input type="checkbox"> Remember me next time?</label>
			<input id="log-in-btn"type="submit" value="Log in">
			<ins id="lost-pass">I've lost my password</ins>
		</div>
	</div>
</div>






<div id="header-container">
	<header>
		<div id="header-logo">
			<ul>
				<li>M A D E</li>
				<li>P U B L I S H E R S</li>
			</ul>
		</div>
		<div class="header-nav">
			<ul>
				<li><a href="store.html">Store</a></li>
				<li><a href="journal.html">Journal</a></li>
				<li><a href="publications.html">Publications</a></li>
				<li><a href="about.html">About Us</a></li>
				<li class="follow">Follow Us</li>

			</ul>
		</div>
		<div class="cart-account">
			<ul>
				<li><a href="cart.html">Shopping Cart (1)</a></li>
				<li class="login">Login</li>
			</ul>
		</div>
		<div class="cart-account-icon">
            <i class="fa fa-list" aria-hidden="true"></i>
        </div>
	</header>


	<header id="scrolled-header">
		<div id="scrolled-logo">
			<ul>
				<li>M A D E</li>
				<li>P U B L I S H E R S</li>
			</ul>
		</div>
		<div class="header-nav">
			<ul>
				<li><a href="store.html">Store</a></li>
				<li><a href="journal.html">Journal</a></li>
				<li><a href="publications.html">Publications</a></li>
				<li><a href="about.html">About Us</a></li>
				<li class="follow">Follow Us</li>

			</ul>
		</div>
		<div class="cart-account">
			<ul>
				<li><a href="cart.html">Shopping Cart (1)</a></li>
				<li class="login">Login</li>
			</ul>
		</div>
		<div class="cart-account-icon">
			<i class="fa fa-list" aria-hidden="true"></i>
		</div>
	</header>
</div>
